In [3]:
import pandas as pd
import numpy as np

In [4]:
df2 = pd.DataFrame([('parrot',   24.0, 'second'),
                    ('lion',     80.5, 1),
                    ('monkey', np.nan, None)],
                  columns=('name', 'max_speed', 'rank'))

In [6]:
df2[['rank', 'name']]

     rank    name
0  second  parrot
1       1    lion
2    None  monkey

In [4]:
a = df2.describe(include='all')

In [27]:
dim = 3
b = np.array([0.5, 1, 1.5]).reshape(dim, 1, 1)
c = np.array([17, 26, 35]).reshape(1, dim, 1)
d = np.array([1, 2, 3]).reshape(1, 1, dim)

b @ c

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 3 is different from 1)

In [11]:
True if ['a'] else False

True